/* main colors */
:root {
  --green:#25a55f; 
  --green-light:#9bdf46;
  --blue:#346473; 
  --note:#fffbe6;
}

/* general design */
* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  font-family:'Patrick Hand','cursive';
  background-color: whitesmoke;
}

main {
  display:block;
  padding:30px;
}

/* rubrik */
h1 {
  margin-bottom:20px;
  color:var(--blue);
  font-size:2rem;
  text-align:center;
}

/* main container */
.app {
  max-width:500px;
  width:100%;
  border:3px solid var(--blue);
  border-radius:10px;
  padding:20px;
  display:flex;
  flex-direction:column;
  gap:15px;
  background-color: #fcfcfc;
}

/* knapp design */
.btn {
  cursor:pointer;
  color:#fff;
  background:var(--green);
  border:none;
  padding:10px 16px;
  border-radius:6px;
  font-size:1rem;
  font-family:inherit;transition:.2s;
}

.btn:hover {
  background:var(--blue);
}

/* större knapp */
.big {
  font-size:1.2rem;
}

/* stäng knapp */
.close {
  background:none;
  border:none;
  font-size:1.375rem;
  cursor:pointer;
  color:var(--blue);
}

#openBtn {
  font-size: 1.5rem;
}

/* formulär design */
#form {
  background:#fff;
  border:2px solid var(--green-light);
  border-radius:8px;
  padding:15px;
  display:flex;
  flex-direction:column;
  gap:8px;
}

/* gömmer formuläret */
.hide {
  display:none!important;
}
#form label {
  font-weight:bold;
  color:var(--blue);
}

#form input {
  padding:8px;
  border:1px solid var(--green-light);
  border-radius:6px;
  font:inherit;
  background:#fdfdfd;
}

/* listan med tasks design */
#list {
  display:flex;
  flex-direction:column;
  gap:12px;
  overflow: auto;
  padding-right:6px;
}

/* task design */
.task {
  background:var(--note);
  border-left:5px solid var(--green);
  padding:12px;
  border-radius:6px;
  font-size:1.1rem;
}

.task strong {
  color:var(--blue);
}

.task p {
  margin-bottom: 6px;
}

/* gråa ut tasken */
.task.done {
  opacity: 0.6;
  border-left: 5px solid var(--green-light);
}

/* strycker texten */
.task.done p {
  text-decoration: line-through;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  width: 90%;
  max-width: 450px;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  animation: pop 0.2s ease-out;
}

@keyframes pop {
  from { transform: scale(0.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}